[*.cs]

# CS0414: The field 'InputManagerController.gameZone_IsValid' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none

# CS0169: The field 'InputManagerController.gameZoneAccount' is never used
dotnet_diagnostic.CS0169.severity = none
